@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@300;400;700&display=swap');
:root{
    --black: #222629;
    --white: #Feffff;
    --orange: #ff5833;
    --gray: #6B6e70;
    --blue: #3aafa9;
    --lightGray: #d3d3d3;
}

*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

body{
    font-family: 'Roboto', sans-serif;
    letter-spacing: 0.2rem;
    overflow: hidden;
}

/* Full Calendar */
#full-calendar-container{
    position: absolute;
    z-index: 1000;
    top: -15%;
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100vw;
    height: 100vh;
    transform: scale(0);
    pointer-events: none;
    transition: 0.3s ease transform;
}
#full-calendar-container.active{
    transform: scale(1);
}
.calendar{ 
    width: 21.6rem;
    height: max-content;
    background-color: var(--black);
    pointer-events: all;
    box-shadow: rgba(0, 0, 0, 0.07) 0px 1px 2px, rgba(0, 0, 0, 0.07) 0px 2px 4px, rgba(0, 0, 0, 0.07) 0px 4px 8px, rgba(0, 0, 0, 0.07) 0px 8px 16px, rgba(0, 0, 0, 0.07) 0px 16px 32px, rgba(0, 0, 0, 0.07) 0px 32px 64px;
}
.this-month{
    width: 100%;
    height: 5.8rem;
    background-color: var(--blue);
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 0 1rem;
    text-align: center;
}
.this-month ion-icon{
    font-size: 1.2rem;
    cursor: pointer;
}
.this-month h1{
    font-size: 1.5rem;
    font-weight: 400;
    text-transform: uppercase;
    margin-bottom: 0.5rem;
}
.this-month p{
    font-size: 0.9rem;
}
.weekdays{
    width: 100%;
    height: 2.4rem;
    padding: 0 0.4rem;
    display: flex;
    align-items: center;
}
.weekdays > *{
    font-size: 0.9rem;
    font-weight: 400;
    width: calc(346px/7);
    display: flex;
    justify-content: center;
    align-items: center;
    color: var(--white);
}
.days{
    padding: 0 10px 10px 10px;
    width: 100%;
    display: grid;
    grid-template-columns: repeat(7, calc(326px/7));
    grid-auto-columns: calc(346px/7);
}
.days > *{
    font-size: 1rem;
    width: calc(346px/7);
    color: var(--white);
    height: 2.75rem;
    display: flex;
    justify-content: center;
    align-items: center;
    transition: 0.1s ease border;
}
.prev-date,
.next-date{
    opacity: 0.5;
}
.today{
    background-color: var(--orange);
}
.days div:hover:not(.today):not(.selected){
    border: 2px solid var(--gray);
}
.days div:hover{
    cursor: pointer;
}
/* End of Full Calendar */

/* Top Calendar */
#calendar-container{
    position: relative;
    display: grid;
    grid-auto-flow: column;
    grid-auto-columns: 20%;
    height: 10vh;
    overflow-x: auto;
    overscroll-behavior-inline: contain;
    scroll-snap-type: inline mandatory;
    scroll-behavior: smooth;
}
#calendar-container .prev{
    position: fixed;
    display: flex;
    align-items: center;
    font-weight: 700;
    font-family: "Font Awesome 5 free";
    font-size: 20px;
    padding: 0 6px 0 10px;
    height: 10vh;
    color: var(--black);
    background-color: rgba(107, 110, 112, 0.1);
    opacity: 0;
    cursor: pointer;
    pointer-events: none;
    transition: 0.3s ease opacity;
}
#calendar-container .next{
    position: fixed;
    display: flex;
    align-items: center;
    font-weight: 700;
    font-family: "Font Awesome 5 free";
    font-size: 20px;
    padding: 0 10px 0 6px;
    right: 0;
    height: 10vh;
    color: var(--black);
    background-color: rgba(107, 110, 112, 0.1);
    opacity: 0;
    cursor: pointer;
    pointer-events: none;
    transition: 0.3s ease opacity;
}
#calendar-container:hover .prev,
#calendar-container:hover .next{
    opacity: 1;
    pointer-events: all;
}
#calendar-container .prev ion-icon,
#calendar-container .next ion-icon{
    transition: 0.3s ease transform;
    pointer-events: none;
}
#calendar-container .prev ion-icon:hover,
#calendar-container .next ion-icon:hover{
    transform: scale(1.1);
}
#calendar-container::-webkit-scrollbar{
    display: none;
}
#calendar-container > *{
    scroll-snap-align: start;
    height: 100%;
    text-align: center;
    box-shadow: rgba(100, 100, 111, 0.2) 0px 0px 1px 0px;
    cursor: pointer;
    padding-top: 10px;
}
.selected{
    background-color: var(--gray);
    color: var(--white);
}
#today{
    background-color: var(--orange);
    color: var(--white);
}
/* End of Top Calendar */

/* Add a New Task Section */
#full-task-container,
#sort-container,
#add-task-container{
    position: absolute;
    display: flex;
    justify-content: flex-start;
    align-items: center;
    flex-direction: column;
    bottom: 0;
    left: 0;
    right: 0;
    border-top-left-radius: 60px;
    border-top-right-radius: 60px;
    padding: 20px 0;
    background-color: var(--blue);
    z-index: 50;
    transform: translateY(200%);
    transition: 0.5s ease transform;
}
#add-task-container{
    height: 80vh;
}
#add-task-container.active{
    transform: translateY(0%);
}
.go-back{
    position: absolute;
    left: 30px;
    bottom: 90%;
    font-size: 2rem;
    cursor: pointer;
    transition: 0.3s ease color;
}
.go-back:hover{
    color: var(--white);
}
.header {
    margin: 5px 5px 10px 5px;
    text-transform: capitalize;
    font-size: 1.8rem;
    color: var(--black);
}
#overlay {
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background-image: linear-gradient(315deg, #000000 0%, #7f8c8d 74%);
    opacity: 0;
    z-index: 9;
    pointer-events: none;
    transition: 0.5s ease opacity;
}
#overlay.active {
    pointer-events: all;
    opacity: 0.7;
}
/* Fancy submit button */
.btn{
    position: relative;
    display: inline-block;
    padding: 10px 30px;
    text-decoration: none;
    text-transform: uppercase;
    color: var(--black);
    background-color: var(--white);
    font-size: 1rem;
    margin: 40px 10px 10px 10px;
}
.btn:hover{
    background-color: var(--orange);
    color: var(--white);
    transition: 0.5s;
    transition-delay: 1s;
}
.btn span{
    position: absolute;
    display: block;
    background: var(--orange);
}
.btn span:nth-child(1){
    left: 0;
    bottom: 0;
    width: 1px;
    height: 100%;
    transform: scaleY(0);
    transform-origin: top;
    transition: 0.3s ease transform;
}
.btn:hover span:nth-child(1){
    transform: scaleY(1);
    transform-origin: bottom;
}
.btn span:nth-child(2) {
    left: 0;
    top: 0;
    width: 100%;
    height: 1px;
    transform: scaleX(0);
    transform-origin: right;
    transition: 0.25s ease transform;
    transition-delay: 0.25s;
}
.btn:hover span:nth-child(2) {
    transform: scaleY(1);
    transform-origin: left;
}
.btn span:nth-child(3) {
    right: 0;
    bottom: 0;
    width: 1px;
    height: 100%;
    transform: scaleY(0);
    transform-origin: bottom;
    transition: 0.25s ease transform;
    transition-delay: 0.5s;
}
.btn:hover span:nth-child(3) {
    transform: scaleY(1);
    transform-origin: top;
}
.btn span:nth-child(4) {
    left: 0;
    bottom: 0;
    width: 100%;
    height: 1px;
    transform: scaleX(0);
    transform-origin: left;
    transition: 0.25s ease transform;
    transition-delay: 0.75s;
}
.btn:hover span:nth-child(4) {
    transform: scaleX(1);
    transform-origin: right;
}
/* End of submit button */
/* End of add a new task section */

/* Full task */
#full-task-container{
    height: 60vh;
}
#full-task-container.active{
    transform: translateY(0);
}
#full-task-container .go-back{
    position: absolute;
    top: 25px;
    left: 30px;
}
#full-task-container article {
    text-align: start;
    padding: 15px;
    width: 80vw;
}
.priority{
    display: inline-block;
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
    margin: 0 15px;
    padding: 5px;
    border-radius: 50%;
    height: 25px;
    width: 25px;
    background-color: var(--color);
}
#full-task-container h2{
    position: relative;
    margin: 0 10px 25px 0;
    font-size: 1.4rem;
    font-weight: 400;
    width: 100%;
}
#full-task-container p{
    padding-top: 20px;
    margin: 10px;
    margin-left: 0;
    border-top: 2px solid var(--white);
    font-weight: 400;
    font-size: 1.4rem;
    width: 100%;
}
.edit-btn{
    position: absolute;
    top: 25px;
    right: 30px;
    font-size: 1.5rem;
    cursor: pointer;
    transition: 0.3s ease color;
}
.edit-btn:hover{
    color: var(--white);
}
/* End of Full Task */

/* Dropdown Menu */
.dropdown {
    position: relative;
    overflow: visible;
    z-index: 8;
}

.dropdown::before {
    content: '';
    position: absolute;
    border: 2px solid #222;
    border-top: 0;
    border-right: 0;
    transform: rotate(-45deg);
    z-index: 2;
    right: 20px;
    transition: 0.5s ease;
    pointer-events: none;
    width: 8px;
    height: 8px;
    top: 35px;
}

.dropdown .options {
    position: absolute;
    top: 100%;
    left: 0;
    width: 100%;
    pointer-events: none;
    background-color: #f2f2f2;
    border-radius: 10px;
    overflow: hidden;
    transform: translateY(-15px);
    opacity: 0;
    transition: 0.3s ease opacity, 0.5s ease transform;
    z-index: 8;
}

.dropdown.active::before {
    top: 38px;
    transform: rotate(-225deg);
}

.dropdown.active>.custom-field+.options {
    opacity: 1;
    transform: translateY(0);
    pointer-events: auto;
}

.dropdown .options li {
    display: flex;
    flex-direction: row;
    justify-content: flex-start;
    align-items: center;
    cursor: pointer;
    transition: 0.3s ease all;
    padding: 6px 10px;
    font-size: 1rem;
}

.dropdown .options li:hover {
    background-color: var(--blue);
    color: #f2f2f2;
}

.dropdown .options li i {
    font-size: 0.8rem;
}
.highest, .high, .neutral, .low, .lowest{
    width: 15px;
    height: 15px;
    border-radius: 50%;
    margin-right: 15px;
}
.highest{
    background-color: red;
}
.high{
    background-color: orange;
}
.neutral{
    background-color: yellow;
}
.low{
    background-color: green;
}
.lowest{
    background-color: blue;
}
/* End of Dropdown */
/* End of Add a New Task Section */

/* Tasks Container */
#tasks-container{
    display: flex;
    align-items: center;
    flex-direction: column;
    position: relative;
    bottom: 0;
    width: 100vw;
    height: 90vh;
    background-color: var(--lightGray);
    overflow: hidden;
}
#tasks-container .month{
    padding: 10px;
    text-transform: uppercase;
    text-align: center;
    font-size: 1.8rem;
    color: var(--black);
}
#tasks-container .day{
    text-align: center;
    text-transform: capitalize;
    font-size: 1.2rem;
    font-weight: 400;
    color: var(--black);
    margin-bottom: 5px;
}
.all-tasks{
    max-height: 61vh;
    min-height: 50vh;
    padding: 0 32px;
    overflow-y: scroll;
}
.all-tasks::-webkit-scrollbar{
    display: none;
}
.task{
    position: relative;
    display: flex;
    align-items: center;
    flex-direction: row;
    width: 75vw;
    height: 10vh;
    margin: 10px;
    margin-bottom: 20px;
    background-color: var(--white);
    border-radius: 7px;
    border-right: 20px solid var(--color);
    box-shadow: rgba(0, 0, 0, 0.07) 0px 1px 2px, rgba(0, 0, 0, 0.07) 0px 2px 4px, rgba(0, 0, 0, 0.07) 0px 4px 8px, rgba(0, 0, 0, 0.07) 0px 8px 16px, rgba(0, 0, 0, 0.07) 0px 16px 32px, rgba(0, 0, 0, 0.07) 0px 32px 64px;
}
.icons{
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: row;
    margin-left: auto;
    margin-right: 10px;
}
.icons ion-icon{
    cursor: pointer;
    color: var(--black);
    transition: 0.3s ease color;
    pointer-events: all;
}
.icons ion-icon:hover{
    color: var(--orange);
}
.task .checkbox{
    display: flex;
    justify-content: center;
    align-items: center;
    appearance: none;
    -webkit-appearance: none;
    height: 15px;
    width: 15px;
    margin: 10px 20px;
    background-color: var(--lightGray);
    border-radius: 3px;
    outline: none;
    cursor: pointer;
}
.task .checkbox::after{
    content: "\f00c";
    font-weight: 700;
    font-family: "Font Awesome 5 free";
    font-size: 10px;
    color: var(--white);
    display: none;
}
.task .checkbox:checked{
    background-color: var(--orange);
}
.task .checkbox:checked::after{
    display: block;
}
.done{
    position: absolute;
    top: 0;
    left: 0;
    width: 75vw;
    height: 10vh;
    background-color: var(--black);
    opacity: 0.7;
    border-radius: 7px;
    border-right: 20px solid ;
    pointer-events: none;
}
.done::after{
    content: "\f00c";
    font-family: "Font Awesome 5 free";
    font-weight: 700;
    font-size: 70px;
    height: 100%;
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    color: var(--white);
}
.task div{
    display: flex;
    justify-content: space-evenly;
    align-items: flex-start;
    flex-direction: column;
    padding: 10px 0;
    height: 100%;
}
.task h2{
    font-size: 1rem;
    text-transform: capitalize;
}
.task label{
    color: var(--black);
    font-size: 0.7rem;
    padding-left: 8px;
}
.progress-bar{
    display: flex;
    justify-content: center;
    align-items: center;
    position: fixed;
    background-color: var(--white);
    width: 85vw;
    height: 5px;
    border-radius: 50px;
    top: 96%;
    box-shadow: rgba(50, 50, 93, 0.25) 0px 50px 100px -20px, rgba(0, 0, 0, 0.3) 0px 30px 60px -30px;
}
.progress-bar::after{
    content: "";
    position: absolute;
    height: 100%;
    left: 0;
    width: var(--progress);
    background-color: var(--blue);
    border-radius: 50px;
    z-index: 5;
    transition: 0.3s ease width;
}
.percentage{
    color: var(--black);
    z-index: 10;
}
/* End of Tasks Container */

/* Navigation Bar */
.nav-container{
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100vw;
    position: fixed;
    top: 85%;
    z-index: 100;
}
.navigation{
    position: relative;
    width: 250px;
    height: 60px;
    background-color: var(--white);
    border-radius: 35px;
    box-shadow: rgba(149, 157, 165, 0.2) 0px 8px 24px;
}
.navigation ul{
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    display: flex;
}
.navigation ul li{
    position: relative;
    list-style: none;
    width: calc(250px/4);
    height: 60px;
    z-index: 1;
    cursor: pointer;
}
.navigation ul li a{
    position: relative;
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
    height: 60px;
    text-align: center;
    font-weight: 400;
    color: var(--black);
    pointer-events: none;
}
.navigation ul li a .icon{
    position: relative;
    display: flex;
    justify-content: center;
    align-items: center;
    line-height: 60px;
    text-align: center;
    transition: 0.3s;
    pointer-events: none;
}
.navigation ul li a .icon ion-icon{
    font-size: 24px;
}
.navigation ul li.active a .icon{
    color: var(--white);
}
.navigation ul li a .title::before{
    content: '';
    position: absolute;
    width: 12px;
    height: 12px;
    background-color: var(--white);
    bottom: -8px;
    left: 48%;
    transform: rotate(45deg) translate(-50%);
    border-radius: 2px;
}
.navigation ul li a .title{
    position: absolute;
    top: -70px;
    left: 50%;
    width: max-content;
    transform: translate(-50%, 15%);
    background-color: var(--white);
    padding: 5px 10px;
    border-radius: 6px;
    box-shadow: rgba(149, 157, 165, 0.2) 0px 8px 24px;
    transition: 0.5s;
    opacity: 0;
    visibility: hidden;
}
.navigation ul li:hover a .title{
    opacity: 1;
    visibility: visible;
    transform: translate(-50%, 50%);
}
.navigation ul .indicator{
    position: absolute;
    left: 0;
    width: 60px;
    height: 60px;
    transition: 0.3s;
}
.navigation ul .indicator::before{
    content: '';
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    background-color: var(--orange);
    width: 45px;
    height: 45px;
    border-radius: 50%;
    transition: 0.5s;
}
.navigation ul li:nth-child(1).active ~ .indicator{
    transform: translateX(calc(250px/4 * 0));
}
.navigation ul li:nth-child(2).active ~.indicator {
    transform: translateX(calc(250px/4 * 1));
}
.navigation ul li:nth-child(3).active ~.indicator {
    transform: translateX(calc(250px/4 * 2));
}
.navigation ul li:nth-child(4).active ~.indicator {
    transform: translateX(calc(250px/4 * 3));
}
/* End of Navigation bar */

/* Sort options window */
#sort-container{
    padding-top: 5px;
    height: 40vh;
}
#sort-container.active{
    transform: translateY(0);
}
#sort-container .go-back{
    bottom: 86%;
}
.sort-options{
    width: 100%;
}
.sort-options li{
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 10px 30px;
    list-style: none;
    transition: 0.3s ease background-color;
    cursor: pointer;
}
.sort-options li:hover{
    background-color: var(--white);
    box-shadow: rgba(149, 157, 165, 0.2) 0px 8px 24px;
}
.sort-options li span{
    pointer-events: none;
}
.sort-options li ion-icon{
    color: var(--orange);
    opacity: 0;
    transition: 0.3s ease opacity;
    pointer-events: none;
}
.sort-options li.active{
    background-color: var(--white);
}
.sort-options li.active ion-icon{
    opacity: 1;
}
/* End of Sort options window */

/* fancy styling for all input boxes */
.custom-field {
    position: relative;
    font-size: 0.7rem;
    padding-top: 20px;
    margin-bottom: 10px;
}

.custom-field .placeholder {
    position: absolute;
    left: 12px;
    top: calc(50% + 10px);
    text-transform: capitalize;
    transform: translateY(-50%);
    color: var(--gray);
    transition: 0.3s ease all;
    pointer-events: none;
    font-size: 0.8rem;
}

.custom-field .input-box:read-only+.placeholder,
.custom-field .input-box:valid+.placeholder,
.custom-field .input-box:focus+.placeholder {
    top: 8px;
    font-size: 10px;
    color: var(--black);
}

.input-box {
    all: unset;
    background: #f2f2f2;
    border-radius: 0px;
    border-top-left-radius: 3px;
    border-top-right-radius: 3px;
    background: 
        linear-gradient(90deg, var(--orange), var(--orange)) center bottom/0 2px no-repeat,
        linear-gradient(90deg, var(--gray), var(--gray)) left bottom/100% 2px no-repeat,
        linear-gradient(90deg, var(--white), var(--white)) left bottom/100% no-repeat;
    transition: background-size 0.3s ease;
    width: 290px;
    height: 17px;
    padding: 12px;
    font-size: 0.8rem;
}

.time{
    width: 117px;
}

#time-container{
    display: flex;
    justify-content: space-between;
    align-items: center;
    flex-direction: row;
}

#start-time, 
#end-time{
    min-width: 117px;
    -webkit-appearance: textfield;
    -moz-appearance: textfield;
}

#time-container p{
    display: flex;
    justify-content: center;
    align-items: center;
    height: 30px;
    margin: 5px;
    margin-top: 15px;
    font-weight: 400;
    font-size: 1rem;
    color: var(--black);
}

#description{
    min-height: 17px;
    max-height: 150px;
}

.input-box:read-only,
.input-box:valid,
.input-box:focus {
    background-size: 100% 2px, 100% 2px, 100%;
}

input[type="time"]:required:invalid::-webkit-datetime-edit {
    color: transparent;
}

input[type="date"]:focus::-webkit-datetime-edit {
    color: black !important;
}
/* end of fancy styling for input boxes */

/* Division Boxes */
#left,
#right{
    display: none;
}
/* End of Division Boxes */

/* Contact Info */
#contact-container{
    position: absolute;
    display: none;
    justify-content: space-evenly;
    align-items: center;
    flex-direction: column;
    top: 50%;
    right: 0;
    padding-left: 5px;
    width: max-content;
    height: 200px;
    background-color: var(--white);
    border-bottom-left-radius: 10px;
    border-top-left-radius: 10px;
    transform: translate(0, -50%);
    transition: 0.3s ease transform;
}
.social-item img{
    height: 30px;
    width: 30px;
}
/* End of Contact Info */

/* Media Queries */
/* Media Query for tablet */
@media only screen and (min-width: 768px){
    /* Full Calendar */
    .calendar {
            width: calc(21.6rem*1.1);
    }
    .this-month {
        height: calc(5.8rem*1.1);
    }
    .this-month ion-icon {
        font-size: calc(1.2rem*1.1);
    }
    .this-month h1 {
        font-size: calc(1.5rem*1.1);
    }
    .this-month p {
        font-size: calc(0.9rem*1.1);
    }
    .weekdays {
        height: calc(2.4rem*1.1);
    }
    .weekdays>* {
        font-size: calc(0.9rem*1.1);
        width: calc((346px*1.1)/7);
    }
    .days {
        grid-template-columns: repeat(7, calc((326px*1.1)/7));
        grid-auto-columns: calc((346px*1.1)/7);
    }
    .days>* {
        font-size: 1.1rem;
        width: calc((346px*1.1)/7);
        height: calc(2.75rem*1.1);
    }
    /* End of Full Calendar */

    /* Top Calendar */
    #calendar-container .next,
    #calendar-container .prev{
        font-size: 22px;
    }
    /* End of Top Calendar */

    /* Add A New Task Screen */
    #full-task-container,
    #sort-container,
    #add-task-container {
        width: 55vw;
        top: 50%;
        left: 50%;
        border-radius: 60px;
    }
    #add-task-container {
        height: 60vh;
        transform: translate(-50%, 100%);
    }
    #add-task-container.active{
        transform: translate(-50%, -60%);
    }
    .go-back {
        left: 25px;
        top: 25px;
    }
    /* End of New Task Screen */

    /* Full Task */
    #full-task-container {
        height: max-content;
        transform: translate(-50%, 200%);
    }
    #full-task-container.active {
        transform: translate(-50%, -60%);
    }
    #full-task-container article {
        width: 50vw;
    }
    #full-task-container article h2{
        text-align: center;
    }
    #full-task-container article p{
        width: 45vw;
        padding-left: 10px;
    }
    /* End of Full Task */

    /* Dropdown */
    .dropdown .options li {
        font-size: 1.1rem;
    }
    /* End of Dropdown */

    /* Task Container */
    #tasks-container .month {
        padding: 12px;
        font-size: calc(1.8rem*1.1);
    }
    #tasks-container .day {
        font-size: calc(1.2rem*1.1);
        margin-bottom: 6px;
    }
    .all-tasks{
        min-height: 57vh;
        max-height: 57vh;
    }
    .task {
        width: 65vw;
        height: 11vh;
        margin: 11px;
        margin-bottom: 17px;
        border-radius: 7px;
        border-right: 22px solid var(--color);
    }
    .icons {
        margin-right: 15px;
    }
    .icons ion-icon {
        font-size: 1.2em;
    }
    .task .checkbox {
        height: 17px;
        width: 17px;
    }
    .task .checkbox::after {
        font-size: 12px;
    }
    .done {
        width: 65vw;
        border-right: 22px solid;
    }
    .done::after {
        font-size: 80px;
    }
    .task h2 {
        font-size: calc(1.3rem*1.1);
    }
    .task label {
        font-size: calc(0.9rem*1.1);
    }
    .progress-bar {
        height: 7px;
        top: 94%;
    }
    .percentage {
        font-size: 1.1rem;
    }
    /* End of Task Container */

    /* Navigation Bar */
    .nav-container {
        top: 82%;
    }
    .navigation {
        width: calc(250px*1.1);
        height: calc(60px*1.1);
    }
    .navigation ul li {
        width: calc((250px*1.1)/4);
        height: calc(60px*1.1);
    }
    .navigation ul li a {
        height: calc(60px*1.1);
    }
    .navigation ul li a .icon {
        line-height: calc(60px*1.1);
    }
    .navigation ul li a .icon ion-icon {
        font-size: calc(24px*1.1);
    }
    .navigation ul .indicator {
        width: calc(60px*1.1);
        height: calc(60px*1.1);
    }
    .navigation ul .indicator::before {
        width: calc(45px*1.1);
        height: calc(45px*1.1);
    }
    .navigation ul li:nth-child(1).active~.indicator {
        transform: translateX(calc((250px*1.1)/4 * 0));
    }
    .navigation ul li:nth-child(2).active~.indicator {
        transform: translateX(calc((250px*1.1)/4 * 1));
    }
    .navigation ul li:nth-child(3).active~.indicator {
        transform: translateX(calc((250px*1.1)/4 * 2));
    }
    .navigation ul li:nth-child(4).active~.indicator {
        transform: translateX(calc((250px*1.1)/4 * 3));
    }
    /* End of Navigation Bar */

    /* Sort options window */
    #sort-container {
        padding-top: 5px;
        height: 31vh;
        width: 47vw;
        transform: translate(-50%, 200%);
        overflow: hidden;
    }
    #sort-container.active {
        transform: translate(-50%, -60%);
    }
    #sort-container .go-back {
        top: 25px;
        left: 25px;
    }
    #sort-container .header{
        margin-top: 14px;
    }
    .sort-options li span {
        font-size: 1.05rem;
    }
    .sort-options li ion-icon {
        font-size: 1.3rem;
    }
    /* End of Sort options window */

    /* Submit Button */
    .btn {
        margin: 25px 10px 10px 10px;
    }
    /* End of Submit Button */

    /* fancy styling for all input boxes */
    .custom-field {
        font-size: 0.8rem;
        padding-top: 22px;
    }
    .custom-field .input-box:read-only+.placeholder,
    .custom-field .input-box:valid+.placeholder,
    .custom-field .input-box:focus+.placeholder {
        font-size: 12px;
    }
    /* end of fancy styling for input boxes */
}
/* Media Query for Desktop */
@media only screen and (min-width: 1200px) and (min-height: 750px){

    /* Full Calendar */
    #full-calendar-container{
        top: -14%;
        transform: scale(1);
        z-index: 2;
    }
    .calendar {
        position: absolute;
        right: calc(100vw/7);
        transform: translateX(50%);
        width: calc(21.6rem*0.85);
        height: 350px;
        box-shadow: none;
        background-color: transparent;
        padding-bottom: 10px;
        border-bottom: 3px solid var(--white);
    }
    .this-month {
        background-color: transparent;
        height: calc(5.8rem*0.85);
    }
    .this-month ion-icon {
        font-size: calc(1.2rem*0.85);
    }
    .this-month h1 {
        font-size: calc(1.5rem*0.85);
    }
    .this-month p {
        font-size: calc(0.9rem*0.85);
    }
    .weekdays {
        height: calc(2.4rem*0.85);
    }
    .weekdays>* {
        color: var(--black);
        font-size: calc(0.9rem*0.85);
        width: calc((346px*0.85)/7);
    }
    .days {
        grid-template-columns: repeat(7, calc((326px*0.85)/7));
        grid-auto-columns: calc((346px*0.85)/7);
    }
    .days>* {
        color: var(--black);
        font-size: 0.85rem;
        width: calc((346px*0.85)/7);
        height: calc(2.75rem*0.85);
    }
    .selected,
    .today{
        color: var(--white);
    }
    .prev-date,
    .next-date{
        opacity: 0.65;
    }
    /* End of Full Calendar */

    /* Top Calendar */
    #calendar-container{
        grid-auto-columns: calc(100%/7);
    }
    #calendar-container .prev{
        font-size: 27px;
        padding: 0 9px 0 15px;
    }
    #calendar-container .next{
        font-size: 27px;
        padding: 0 15px 0 9px;
    }
    /* End of Top Calendar */

    /* Task Container */
    #tasks-container .todays-date{
        position: absolute;
        left: calc(100vw/7);
        transform: translateX(-50%);
        top: 3%;
        width: 350px;
        padding-bottom: 7px;
        border-bottom: 3px solid var(--white);
        z-index: 2;
    }
    #tasks-container .all-tasks{
        position: absolute;
        top: 5%;
        left: 50%;
        transform: translateX(-50%);
        min-height: 580px;
        max-height: 580px;
    }
    #tasks-container .month {
        font-size: calc(1.8rem*1.4);
    }
    #tasks-container .day {
        font-size: calc(1.2rem*1.5);
        margin-bottom: 6px;
    }
    .task {
        width: 30vw;
    }
    .done {
        width: 30vw;
    }
    .progress-bar {
        width: 35vw;
        top: 93%;
    }
    /* End of Task Container */

    /* Add a New Task Section */
    #add-task-container{
        width: 25vw;
        height: 50vh;
        top: 30%;
        left: calc(100vw/7);
        border-radius: 0;
        padding: 0;
        background-color: transparent;
        transform: translateY(0);
        transform: translateX(-50%);
        z-index: 2;
    }
    #add-task-container .go-back{
        display: none;
    }
    .header {
        margin: 5px;
        font-size: 1.3rem;
    }
    /* End of Add New Task Section */

    /* Navigation Bar */
    .nav-container {
        display: none;
    }
    /* End of Navigation Bar */

    /* Sort Window */
    #sort-container{
        width: calc(21.6rem*0.85);
        height: max-content;
        top: 62%;
        left: calc(100vw/7*6);
        border-radius: 0;
        padding: 0;
        background-color: transparent;
        transform: translateY(0);
        transform: translateX(-50%);
        z-index: 2;
    }
    #sort-container .go-back{
        display: none;
    }
    #sort-container .header{
        font-size: 1.3rem;
    }
    .sort-options li{
        padding: 10px;
    }
    .sort-options li span{
        font-size: 0.9rem;
    }
    /* End of Sort Window */

    /* Full task */
    #full-task-container{
        width: 30vw;
        transform: translate(-50%, 250%)
    }
    #full-task-container article {
        width: 100%;
    }
    #full-task-container .header{
        font-size: 2rem;
    }
    #full-task-container article p{
        font-size: 1.2rem;
        width: 100%;
    }
    /* End of Full Task */

    /* Division Boxes */
    #left,
    #right{
        display: block;
        position: absolute;
        background-color: rgba(220, 220, 220, 1);
        bottom: 0;
        height: 90vh;
        z-index: 1;
        pointer-events: none;
    }
    #left{
        left: 0;
        right: calc(100vw/7*5);
    }
    #right{
        left: calc(100vw/7*5);
        right: 0;
    }
    /* End of Division Boxes */

    /* Contact Container */
    #contact-container{
        display: flex;
        transform: translate(100%, -50%);
        z-index: 2;
        height: 225px;
    }
    #contact-container.active{
        transform: translate(0, -50%);
    }
    .social-item img{
        filter: grayscale(1);
        transition: 0.3s ease filter;
        height: 40px;
        width: 40px;
    }   
    .social-item img:hover{
        filter: grayscale(0);
    }
    #contact-container::before{
        content: '';
        position: absolute;
        width: 30px;
        height: 30px;
        background-color: var(--white);
        left: 0;
        top: 50%;
        transform: rotate(45deg) translate(-50%);
        border-radius: 2px;
        transition: 0.3s ease left, 0.3s ease background-color;
    }
    #contact-container.active::before{
        left: 20px;
        background-color: transparent;
    }
    /* End of Contact Container */
}
/* End of Media Queries */