@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@300;400;700&display=swap');

*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

body{
    font-family: 'Roboto', sans-serif;
    letter-spacing: 0.2rem;
}
/* Add a New Task Section */
#add-task-container{
    position: absolute;
    display: flex;
    justify-content: flex-start;
    align-items: center;
    flex-direction: column;
    bottom: 0;
    left: 0;
    right: 0;
    border-top-left-radius: 10%;
    border-top-right-radius: 10%;
    padding: 20px;
    height: 70vh;
    background-color: aqua;
}
/* End of Add a New Task Section */

/* Add New Task Button */
.add-task{
    all: unset;
    position: absolute;
    bottom: 55px;
    left: 50%;
    transform: translateX(-50%);
    background-color: antiquewhite;
    padding: 18px;
    margin: 5px;
    border-radius: 50%;
    cursor: pointer;
    z-index: 100;
}
/* End of Add New Task Button */

/* fancy styling for all input boxes */
.custom-field {
    position: relative;
    font-size: 0.7rem;
    padding-top: 20px;
    margin-bottom: 10px;
}

.custom-field .placeholder {
    position: absolute;
    left: 12px;
    top: calc(50% + 10px);
    text-transform: capitalize;
    transform: translateY(-50%);
    color: #aaa;
    transition: 0.3s ease all;
    pointer-events: none;
    font-size: 0.8rem;
}

.custom-field .input-box:read-only+.placeholder,
.custom-field .input-box:valid+.placeholder,
.custom-field .input-box:focus+.placeholder {
    top: 8px;
    font-size: 10px;
    color: #222;
}

.input-box {
    all: unset;
    background: #f2f2f2;
    border-radius: 0px;
    border-top-left-radius: 3px;
    border-top-right-radius: 3px;
    background: 
        linear-gradient(90deg, #222, #222) center bottom/0 2px no-repeat,
        linear-gradient(90deg, #ccc, #ccc) left bottom/100% 2px no-repeat,
        linear-gradient(90deg, #fafafa, #fafafa) left bottom/100% no-repeat;
    transition: background-size 0.3s ease;
    width: 275px;
    height: 17px;
    padding: 12px;
    font-size: 0.8rem;
}

#time{
    width: 110px;
}

#time-container{
    display: flex;
    justify-content: space-between;
    align-items: center;
    flex-direction: row;
}

#time-container p{
    display: flex;
    justify-content: center;
    align-items: center;
    height: 30px;
    margin: 5px;
}

#description{
    resize: vertical;
    overflow: hidden;
    min-height: 17px;
    max-height: 100px;
}

.input-box:read-only,
.input-box:valid,
.input-box:focus {
    background-size: 100% 2px, 100% 2px, 100%;
}

input[type="time"]:required:invalid::-webkit-datetime-edit {
    color: transparent;
}

input[type="date"]:focus::-webkit-datetime-edit {
    color: black !important;
}
/* end of fancy styling for input boxes */